[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {version = "~=1.7.0",extras = ["voice"]}
aiohttp = "*"
markovify = "*"
uvloop = {version = "*", sys_platform = "== 'linux'"}

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.9.4"

[pipenv]
allow_prereleases = true
