[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {version = "~=1.2.0", extras = ["voice"]}
aiohttp = "*"
markovify = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.7"
